@import url('./info.css');
@import url('./content.css');
body, html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	min-height: 1050px;
	margin: 0;
	padding: 0;
	font-family: Palatino,
				 Palatino Linotype,
				 Palatino LT STD,
				 Book Antiqua,
				 Georgia,
				 serif;
	}
ul {
	padding: 0;
}
.App {

display: flex;
justify-content: flex-end;
}
.Footer--images img {
	max-width: 80px;
	max-height: 50px;
}
.Footer--images {
	display: inline-flex;
	align-content: center;
	justify-content: center;
}
